[Unit]
Description=AnonBird Client (%i)
Documentation=https://github.com/Cr0me1ve/netbird/tree/main/docs
After=network-online.target syslog.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/anonbird
ExecStart=/usr/bin/anonbird service run --log-file /var/log/anonbird/client-%i.log --daemon-addr unix:///var/run/anonbird/%i.sock $FLAGS
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
CacheDirectory=anonbird
ConfigurationDirectory=anonbird
LogsDirectory=anonbird
RuntimeDirectory=anonbird
StateDirectory=anonbird

# sandboxing
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateMounts=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
# needed to load wg module for kernel-mode WireGuard
ProtectKernelModules=no
ProtectKernelTunables=no
ProtectSystem=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
